@page
@model WebApp.Pages.Admin.Enrollment.ListModel
@{

}
<div class="popular-courses">
    <h2 class="courses-title mt-5 px-5">Người dùng tham gia khóa học</h2>
    @if (Model.enrollmentDtos != null && Model.enrollmentDtos.Any())
     {
        <div class="popular-header px-5">
            <p class="popular-des">Người học chính là người sếp trả lương cho chúng ta</p>
        </div>

        <div class="row mt-4 px-5">
            <div class="col-6 d-flex align-items-center">
                <span class="fs-3 me-3">Show</span>
                <select class="drop-show_number" id="pageSize" @* asp-for="PageSize" *@ @* options="@Model.PageSize" *@ onchange="submitForm()">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                </select>
                <span class="fs-3 ms-3">User</span>
            </div>

            @* <div class="col-6">
            <div class="d-flex align-items-center justify-content-end">
                <div class="">
                    <div class="sort-btn_manager">
                        <span class="sort-title">Sort by</span>
                        <i class="fa-solid fa-sort"></i>
                        <div class="sort_fields">
                            <ul>
                                <li>
                                    <input type="radio" name="sortBy" <div class="popular-courses"> id="EnrollmentDateAsc" value="EnrollmentDate|asc" onclick="submitForm()" />
                                    <label for="nameAsc"><span>EnrollDate asc</span></label>
                                </li>
                                <li>
                                    <input type="radio" name="sortBy" <div class="popular-courses"> id="EnrollmentDateDesc" value="EnrollmentDate|desc" onclick="submitForm()" />
                                    <label for="nameDesc"><span>EnrollDate desc</span></label>
                                </li>
                                <li>
                                    <input type="radio" name="sortBy" <div class="popular-courses"> id="ProgressAsc" value="Progress|asc" onclick="submitForm()" />
                                    <label for="priceAsc"><span>Progress asc</span></label>
                                </li>
                                <li>
                                    <input type="radio" name="sortBy" <div class="popular-courses"> id="ProgressDesc" value="Progress|desc" onclick="submitForm()" />
                                    <label for="priceDesc"><span>Progress desc</span></label>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="">
                    <!-- <div class="filter-btn_manager">
                        <span class="filter-title">Filter</span>
                        <i class="fa-solid fa-filter"></i>
                    </div> -->
                </div>
            </div>
        </div> *@
        </div>
     }
    <div class="container mt-5">
        <div class="courses-container">
            @if (Model.enrollmentDtos != null && Model.enrollmentDtos.Any())
            {
                @foreach (var course in Model.enrollmentDtos)
                {
                    <a class="courses-item text-decoration-none learned-false index-1" href="/Admin/Courses/Detail/@* @course.Id *@">
                        <div class="courses-item__link">
                            <img src="@course.avatar" alt="Avatar user" style="height: 80px; width:80px" />
                        </div>
                        <div class="course-info">
                            <span class="course-info__type">Progess: @course.Progress%</span>
                            <h3 style="height:2rem" class="course-info__name">
                                @course.UserName
                            </h3>
                            <h5 style="display:block">EnrollmentDate: @course.EnrollmentDate</h5>
                            <h5 style="display:block">EnrollmentDate: @course.ExpiredDate</h5>
                        </div>
                    </a>
                }
            } else {
                <H1 style="color:red">Do not have any Student in this Course!!!</H1>
            }
        </div>

        @* <div class="">
            No <h3>1</h3>
            Size <h3>5</h3>
            Total PAGE <h3>3</h3>
            <ul class="d-flex align-items-center pagination">
                @if (Model.PageNo > 1)
                {
                    <li class="pagination-btn">
                        <a class="d-block" asp-route-pageNo="@(Model.PagedCourses.PageNumber - 1)" asp-route-sortBy="@Model.CurrentSort" asp-route-searchTxt="@Model.CurrentFilter">
                            <i class="fa-solid fa-chevron-left"></i>
                        </a>
                    </li>
                }
                @for (int i = 1; i <= Model.PagedCourses.PageCount; i++)
                {
                    <li class="pagination-btn">
                        <a class="d-block" asp-route-pageNo="@i" asp-route-sortBy="@Model.CurrentSort" asp-route-searchTxt="@Model.CurrentFilter">@i</a>
                    </li>
                }
                @if (Model.PageNo < Model.TotalPage)
                {
                    <li class="pagination-btn">
                        <a class="d-block" asp-route-pageNo="@(Model.PagedCourses.PageNumber + 1)" asp-route-sortBy="@Model.CurrentSort" asp-route-searchTxt="@Model.CurrentFilter">
                            <i class="fa-solid fa-chevron-right"></i>
                        </a>
                    </li>
                }
            </ul>
        </div> *@
    </div>
</div>
<script>
    function submitForm() {
        const pageSize = document.getElementById('pageSize').value;
        const sortBy = document.querySelector('input[name="sortBy"]:checked')?.value;
        const searchTxt = document.querySelector('input[name="searchTxt"]').value;
        const queryString = new URLSearchParams({
            pageSize: pageSize,
            sortBy: sortBy || "",
            searchTxt: searchTxt
        }).toString();

        window.location.href = `?${queryString}`;
    }
    let searchBtn = document.getElementById('searchBtn');
    searchBtn.addEventListener('click', () => {
        submitForm()
    });
</script>